    /*
     * Base structure
     */

    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
        margin: 0;
      }
  
  
      /*
       * Global add-ons
       */
  
      .sub-header {
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
      }
  
  
  
      @media (min-width: 768px) {
        .sidebar {
          position: fixed;
          top: 0px;
          bottom: 0;
          left: 0;
          z-index: 1000;
          display: block;
          padding: 20px;
          overflow-x: hidden;
          overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
          background-color: #f5f5f5;
          border-right: 1px solid #eee;
        }
      }
  
      /* Sidebar navigation */
      .nav-sidebar {
        margin-right: -21px; /* 20px padding + 1px border */
        margin-bottom: 20px;
        margin-left: -20px;
      }
      .nav-sidebar > li > a {
        padding-right: 20px;
        padding-left: 20px;
      }
  
      .nav-sidebar > li > a:hover {
        background-color: #0c0c0c;
      }
  
      .nav-sidebar > .active > a,
      .nav-sidebar > .active > a:hover,
      .nav-sidebar > .active > a:focus {
        color: #fff;
        background-color: none;
      }
  
  
      /*
       * Main content
       */
  
      .main {
        padding: 20px;
      }
      @media (min-width: 768px) {
        .main {
          padding-right: 40px;
          padding-left: 40px;
        }
      }
      .main .page-header {
        margin-top: 0;
      }
  
  
      /*
       * Placeholder dashboard ideas
       */
  
      .placeholders {
        margin-bottom: 30px;
        text-align: center;
      }
      .placeholders h4 {
        margin-bottom: 0;
      }
      .placeholder {
        margin-bottom: 20px;
      }
      .placeholder img {
        display: inline-block;
        border-radius: 50%;
      }
  
      .list{
        margin-top: 20px;
        font-size: 15pt;
      }
  
      .jumlah{
        height: 100px;
        background-color: whitesmoke;
        border-radius: 20px;
      }
  
      .data:hover{
        box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
  
      .action{
        background-color: black;
        color:white;
      }
  
      .detail{
        border-radius: 100px;
        height: 200px;
        width: 200px;
        background-color :white;
      }
  
  
      