body{
	margin: 0;
}

#k1{
	width: 100%;
	background-image: url('../../assets/image/bg3.jpg');
	background-size: cover;
	height: 500px;
}

.header{
	background-color: none;
	width: 90%;
	margin: auto;
	padding-top: 100px;
}

#k2{
	width: 100%;
	height: 1500px;
	background-color: whitesmoke;
}

.konten{
	background-color: none;
	width: 90%;
	margin: auto;
	padding-top: 50px;
}

.s1{
	width: 500px;
	height: 500px;
	margin-left: 50px;
}

.lets{
	width: 	400px;
	height: 40px;
	background-color: 	black;
	margin: 	auto;	
	margin-top: 30px;
	border-radius: 	50px;
	box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blets{
	font-family: Montserrat;
	color:white;
	font-size: 18pt;
}

.thumbnail{
	width: 300px;
	height: 300px;
}

.ginv{
	width: 150px;
}

.btn{
	width: 120px;
	background-color: #EB3232;
	border:0px;
	border-radius: 0px;
	font-family: Montserrat;
	color:white;
	border-radius: 20px;
}


#footer{
	width: 100%;
	background-size: cover;

}

.f_area{
	width: 85%;
	height: 250px;
	background-color: none;
	margin:auto;
}


.fimg{
	width: 250px;
	height: 250px;

}

.sm{
	width: 100%;
	height: 100px;
	background-color: none;
	margin-top: 	50px;
	border-bottom: 	1px solid white;
}

.fa {
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px 5px;
  border-radius: 50%;

}

.fa:hover {
    color:black;
    background-color: white;
}

.fa-facebook {
  background: black;
  color: white;

}

.fa-twitter {
  background: black;
  color: white;
}

.fa-linkedin {
  background: black;
  color: white;
}

.fa-instagram {
  background: black;
  color: white;
}

.copy{
	margin-top: 20px;
	font-family: Montserrat;
	color:white;
	font-size: 10pt;
	opacity: 0.7;
}