body{
	margin: 0;
}

#k1{
	width: 100%;
	background-image: url('assets/image/bg1.jpg');
	background-size: cover;
	height: 500px;
}

.header{
	background-color: none;
	width: 90%;
	margin: auto;
}

.s1{
	width: 500px;
	height: 500px;
	margin-left: 50px;
}


.your{
	margin-top: 100px;
	margin-left: 50px;
	font-family: Montserrat;
	color:white;
	font-size: 50pt;
}

.can{
	font-family: Montserrat;
	color:white;
	font-size: 15pt;
}

@media only screen and (max-width: 768px) {
  /* For tablets: */
  #k1{
	width: 100%;
	background-image: url('assets/image/bg1.jpg');
	background-size: cover;
	height: 550px;
}

.header{
	background-color: none;
	width: 90%;
	margin: auto;
}

.s1{
	width: 350px;
	height: 350px;

}


.your{
	margin-top: 10px;
	margin-left: 50px;
	font-family: Montserrat;
	color:white;
	font-size: 30pt;
}

.can{
	font-family: Montserrat;
	color:white;
	font-size: 15pt;
}
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
  #k1{
	width: 100%;
	background-image: url('assets/image/bg1.jpg');
	background-size: cover;
	height: 550px;
}

.header{
	background-color: none;
	width: 90%;
	margin: auto;
}

.s1{
	width: 300px;
	height: 300px;

}


.your{
	margin-top: 10px;
	margin-left: 50px;
	font-family: Montserrat;
	color:white;
	font-size: 30pt;
}

.can{
	font-family: Montserrat;
	color:white;
	font-size: 15pt;
}
}


.whats{
	font-family: Montserrat;
	color:white;
	font-size: 30pt;
}

.k2{
	background-color: #FF6464;
	padding-top: 50px;
	padding-bottom: 40px;
}

.wecan{
	font-family: Montserrat;
	color:white;
	font-size: 15pt;
}
.tk2{
	background-color: #FF6464;
}

#k2_area{
	background-color: #FF6464;
	height: auto;
}

.parallax { 
  /* The image used */
  background-image: url("assets/image/bg1.jpg");

  /* Set a specific height */
  height: 950px; 


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.thumbnail{
	width: 200px;
	height: 200px;
	background-color: white;
	border-radius: 150px;

}

.us{
	margin-top: 50px;
}

.how{
	color: white;
	font-size: 20pt;
}

.lets{
	width: 	400px;
	height: 40px;
	background-color: 	black;
	margin: 	auto;	
	margin-top: 400px;
	border-radius: 	50px;
	box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blets{
	font-family: Montserrat;
	color:white;
	font-size: 18pt;
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
 .parallax { 
  /* The image used */
  background-image: url("assets/image/bg1.jpg");

  /* Set a specific height */
  height: 950px; 


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.thumbnail{
	width: 150px;
	height: 150px;
	background-color: white;
	border-radius: 80px;

}

.us{
	margin-top: 20px;
}

.how{
	color: white;
	font-size: 15pt;
}

.lets{
	width: 	350px;
	height: 35px;
	background-color: 	black;
	margin: 	auto;	
	margin-top: 100px;
	border-radius: 	40px;
	box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blets{
	font-family: Montserrat;
	color:white;
	font-size: 15pt;
}
}

#footer{
	width: 100%;
	margin-top: 350px;
	background-image: url('assets/image/bg3.jpg');
	background-size: cover;

}

.f_area{
	width: 85%;
	height: 250px;
	background-color: none;
	margin:auto;
}


.fimg{
	width: 250px;
	height: 250px;

}

.sm{
	width: 100%;
	height: 100px;
	background-color: none;
	margin-top: 	50px;
	border-bottom: 	1px solid white;
}

.fa {
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px 5px;
  border-radius: 50%;

}

.fa:hover {
    color:black;
    background-color: white;
}

.fa-facebook {
  background: black;
  color: white;

}

.fa-twitter {
  background: black;
  color: white;
}

.fa-linkedin {
  background: black;
  color: white;
}

.fa-instagram {
  background: black;
  color: white;
}

.copy{
	margin-top: 20px;
	font-family: Montserrat;
	color:white;
	font-size: 10pt;
	opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
 #footer{
	width: 100%;
	background-image: url('assets/image/bg3.jpg');
	background-size: cover;

}

.f_area{
	width: 85%;
	background-color: none;
	margin:auto;
}


.fimg{
	width: 0px;
	height: 0px;

}

.sm{
	width: 100%;
	height: 100px;
	background-color: none;
	margin-top: 	50px;
	border-bottom: 	1px solid white;
}

.fa {
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px 5px;
  border-radius: 50%;

}

.fa:hover {
    color:black;
    background-color: white;
}

.fa-facebook {
  background: black;
  color: white;

}

.fa-twitter {
  background: black;
  color: white;
}

.fa-linkedin {
  background: black;
  color: white;
}

.fa-instagram {
  background: black;
  color: white;
}

.copy{
	margin-top: 20px;
	font-family: Montserrat;
	color:white;
	font-size: 10pt;
	opacity: 0.7;
}
}

/* ------------------------------------------------------------------------------------------ */

#bg{
	
	background-image: url('assets/image/bg1.jpg');
	background-size: cover;
	margin-top: 80px;
}

#bg2{
	
	background-image: url('assets/image/bg1.jpg');
	background-size: cover;
	margin-top: 50px;
}

.logo{
	
	width: 300px;
	height: 170px;
}

.since{
	font-family: Montserrat;
	color:white;
	font-size: 20pt;
	font-weight: 8;

}

.formin{
	background-color: none;
	width:300px;
	height: 200px;
}

.ff{
	border-radius: 0px;
	height: 45px;
}

.ff::-webkit-input-placeholder{
	color: black;
	font-family: Montserrat;
}

.si{
	background-color: black;
	border-radius: 0px;
	color:white;
	font-family: Montserrat;
	box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.forgot{
	color:white;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 5;
	text-align: right;
}

.dont{
	color:white;
	font-family: Montserrat;
	font-size: 10pt;
	font-weight: 5;
}